html, 
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
#homepage::-webkit-scrollbar {
  display: none;
}
#wrapper {
  position: relative;
  height: 100%;
}
header {
  height: 70%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.header-content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.topnav {
  background: transparent;
  height: 50px;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  margin-bottom: 20px;
}
.topnav.affix {
  background: rgba(100,100,100,0.4);
  border-bottom: 1px solid rgba(200,200,200,0.8);
}
.topnav .container-fluid,
.topnav .special-wrapper {
  height: 100%;
}
.topnav .special-wrapper .hamburger {
  padding: 0;
  padding: 4px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.topnav .special-wrapper .hamburger:focus,
.topnav .special-wrapper .hamburger:active {
  outline: none;
}
.topnav .special-wrapper .hamburger span.hamburger-inner,
.topnav .special-wrapper .hamburger span.hamburger-inner:after,
.topnav .special-wrapper .hamburger span.hamburger-inner:before {
  background: #f4f4f6;
}
.topnav .special-wrapper img {
  filter: brightness(0) invert(1);
  float: right;
  height: 100%;
  padding-right: 0px;
  padding: 15px;
}
.full-menu {
  background: rgba(10,10,10,0.95);
  height: 0vh;
  overflow: hidden;
  position: absolute;
  transition: all 0.3s linear;
  width: 100%;
}
.full-menu.open {
  height: 100vh;
}
.full-menu ul {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Oswald', sans-serif;
}
.full-menu ul li {
  margin: 10px 0;
}
.full-menu ul li a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

/*hide especial logo*/
.logo{
  display: none;
}

video {
  z-index: -1;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
main .intro.container {
  color: #3c3c3b;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  text-align: justify;
}
main .intro.container p strong {
  background: #a0a336;
  font-weight: normal !important;
}
main .intro.container p em {
  color: #a0a336;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-style: normal !important;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}
main .stories {
  background: #133d3b;
  padding-top: 40px;
}
main .stories .stories-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly !important;
}
main .stories .story-box {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}
main .stories .story-box .story-box-image {
  position: relative;
}
main .stories .story-box .story-box-image:before {
  border: 5px solid #ffffff;
  content: '';
  height: 90%;
  left: 15%;
  position: absolute;
  top: 5%;
  width: 70%;
}
main .stories .story-box .story-box-image img {
  margin: 0 auto;
  transition: all 0.5s linear;
}
main .stories .story-box .story-box-title {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  left: 0;
  margin: 0;
  padding: 70px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.carousel-inner {
  background: #fff9e6;
}
.carousel .item {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background: no-repeat center center scroll;
  min-height: 300px;
  height: 60vh;
}
.carousel .item .container {
  padding-top: 80px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
 }
.carousel-inner .item .container h2 {
  color: #133d3b;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.carousel-inner .item .container h2 i {
  color: #c46b3b;
  font-style: normal !important;
}
.left.carousel-control,
.right.carousel-control {
  background: transparent;
}
/*carousel colors*/
.glyphicon.glyphicon-chevron-left,
.glyphicon.glyphicon-chevron-right{
  color: #133d3c;
}
.carousel-indicators li {
  border-color: #133d3c;
  background-color: #133d3c;
}


.apps-box {
  display: flex;
  flex-wrap: wrap;
}
.apps-box .app {
  width: 100%;
}
.apps-box a {
  display: block;
  text-align: center;
}
footer {
  background: #133d3b;
}
footer .footer-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 15px 0;
}
footer .footer-container p {
  color: #ffffff;
  text-align: justify;
  font-size: 15px;
}
/* Media Queries */
@media screen and (min-width: 768px) {
  header { height: 50%; }
  .full-menu ul li a { font-size: 23px; }
  main .stories .story-box { width: 50%; }
  .apps-box .app {
     width: 50%;
   }
   .carousel .item .container {
     padding-top: 0;
   }
   .carousel-inner .item .container h2 {
     margin-bottom: 30px;
     padding-right: 100px;
   }
}
@media screen and (min-width: 992px) {
  main .intro.container { 
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70%
  }
  main .intro.container p i { font-size: 50px; }
  .full-menu ul li a { font-size: 28px; }
  main .stories .story-box { width: 33.33%; }
  .carousel-inner .item .container h2 {
    margin-bottom: 50px;
     padding-right: 250px;
   }
}