/*STORY*/

.topnav.topnav-post {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  transition: all 0.5s linear;
}
.topnav.topnav-post .special-wrapper .special-title {
  color: #2a2a2a;
}
.topnav.topnav-post .special-wrapper .hamburger span.hamburger-inner,
.topnav.topnav-post .special-wrapper .hamburger span.hamburger-inner:after,
.topnav.topnav-post .special-wrapper .hamburger span.hamburger-inner:before {
  background: #2a2a2a;
}
.topnav.topnav-post .special-wrapper img {
  filter: brightness(0);
}
.topnav.topnav-post.open .special-wrapper .hamburger span.hamburger-inner,
.topnav.topnav-post.open .special-wrapper .hamburger span.hamburger-inner:after,
.topnav.topnav-post.open .special-wrapper .hamburger span.hamburger-inner:before {
  background: #f4f4f6;
}
.topnav.topnav-post.open .special-wrapper .special-title {
  color: #f4f4f6;
}
.topnav.topnav-post.open .special-wrapper img {
  filter: brightness(0) invert(1);
}
.topnav.topnav-post.affix {
  background: rgba(255,255,255,0.85);
  border-bottom: border-bottom: 1px solid rgba(0,0,0,0.1);
}
.post {
  margin-top: 50px;
}
.post-content .post-title {
  width: 100%;
  margin: 0 auto;
}
.post-content .post-hero-image {
  width: 100%;
  margin: 20px auto;
}
.post-content .post-hero-image img {
  width: 100%;
  height: auto;
}
.post-content .post-body {
  width: 100%;
}
.post-content .post-body p {
  text-align: left;
}
.post-content .post-body .post-body-img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.post-content .post-body .post-subtitle {
  margin-top: 0;
}
@media (min-width: 768px) {
  .post-content .post-title {
    width: 60%;
  }
  .post-content .post-hero-image {
    width: 80%;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .post-content .post-body {
    width: 60%;
    margin: 0 auto;
  }
  .post-content .post-body p {
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .post-content .post-body .post-subtitle {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

