
.header-content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.topnav.topnav-post {
  background: #133d3b;
  height: 50px;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  margin-bottom: 20px;
}

main {
  padding-top: 70px;
}
.post-title {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.post-date {
  display: block;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.post-fullwidth {
  background: no-repeat center center;
  background-size: cover;
  height: 40vh;
  margin: 20px 0;
  width: 100%;
}
.post-margin {
  font-family: 'Lora', serif;
  font-size: 16px;
  margin: 0 auto 20px;
  width: 85%
}
.post-margin img {
  margin: 0 auto;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .full-menu ul li a { font-size: 23px; }
  .post-margin { 
    font-size: 18px;
    width: 75%;
  }
}
@media screen and (min-width: 992px) {
  .full-menu ul li a { font-size: 28px; }
  .post-margin { 
    font-size: 18px;
    width: 55%;
  }
}